<h1>Travel Destinations</h1>

<% @region.each do |region| %>
  <%= link_to region.name, region_path(region) %> <br>
<% end %>

<br>
<br>

<%= link_to "Create a new travel destination", new_region_path %>

<br>